div.logo{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0;
    line-height: 1.1;
    background-color:rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #cccccc;
    font-size: 40px;
}
div.logo > a > img{
    max-width:200px;
    height:40px;
}
nav{
    display: block;
text-align: center;
font-family: monospace;
background-color:rgba(255, 255, 255, 0.95);
border-bottom: 1px solid #cccccc;
}
nav ul{
    padding:5px 0;
    letter-spacing: 1.5px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    font-size: 13px;
    font-weight:700;
    font-family: 'monospace', sans-serif;
    
}
nav ul > li{
    list-style-type: none;
    margin:0 2%;
    
}
nav ul > li > a{
    color: #666666;
    text-decoration: none;
}
nav ul > li.active > a{ 
    border-bottom:3px solid #2B2B2B;
    padding-bottom:16px;
}

div#navbar > span{
    display:none;
}
section.apply{
    margin:12% 1%;
}
section.apply img{
    text-align: center;
    height:30vh;
    margin:0 10%;
}
div#btn {
    margin:3%;
    text-align: center;
}
div#btn > span{
    padding:5px 20px;
    border: 2px solid #2B2B2B;
}
div#btn > span:hover{
    background-color: #2B2B2B;
    color:white;
    transition: 1s;
}
section.about{
    margin: 0 10% 0% 10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
section.about>video{
    width:40vw;
    height:60vh;
}

.about-item{
    flex-grow: 1;
    width: 50%;
    margin:0 2%;
}
.about-item > h2{
    padding:0px;
    color:rgb(209,4,4);
    font-weight: 700;
    margin-top:-1%;
}

section.reward{
  margin:0 15%;
}

section.reward > h2{
    color:#8d2424;
    text-align: center;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 25px;
}

section.reward > div.container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
}

section.reward > div.container > div.item{
    margin:0 1%;
    color:gray;
}
section.reward > div.container > img.item{
   height:30vh;
}


section.reward > div.container > div.item > h2{
    color:#2B2B2B;

}


section.reward > div.container > div.item > span{
    line-height: 1.5;
}

section.faq{
padding:5% 0px;
background-color: #bfbfbf;
margin:0;
text-align: center;
font-family: sans-serif;
}

section.faq > div > h3{
    color:#8d2424;
    font-size: 25px;
    
}
span.read-more{
    padding:5px 20px;
    border: 2px solid #2B2B2B;
    background-color: white;
}
span.read-more:hover{
    background-color: #2B2B2B;
    color:white;
    transition: 1s;
}

section.qualify{
    padding:5% 0px;
    background-color: #ffa3a3;
    margin:0;
    text-align: center;
    font-family: sans-serif;
    }
    

    section.about-us{
        padding:0% 5% 10%;
        background-color: white;
        margin:0;
        text-align: center;
        font-family: sans-serif;
        }
        
section.footer{
    display: flex;
    flex-direction: row;
   
    background:black;

}
section.footer > div:first-child{
    color:grey;
    padding: 5% 5%;
    width:50%;
    line-height: 1.5;
    letter-spacing: 1px;
}

























@media (max-width:996px) {
   
    div#navbar > span{
        display:block;
        width:40px;
        margin-bottom:5px;
        height:5px;
        background-color: #2B2B2B;
     
    }

    /*
 div.logo{
    margin-right:60vw;
 }*/
    nav#link{
        display:none;
        position:fixed;
        z-index:100;
        top:0;
        right:0;
        width:60vw;
        height:100vh;
        background-color: #2B2B2B;
    }
    nav > ul{
        flex-direction: column;
        background-color: #2B2B2B;
        justify-content:left;
        align-items: flex-start;
    }
    
    nav > ul > li{
        padding:10px 20px;
    }
    nav > ul > li.active > a{
        color:white;
    }

    section.about{
        flex-direction: column;
        margin:1%
    }
    section.about > div, section.about > video{
        width:100%;
        height:40vh;
        margin-bottom:2%;
    }

    div.container{
        flex-direction: column;
    }
    div.container > div.item{
        width:100%;
    }
   section.apply img{
      margin:0;
      width:100%;
      height:30vh;
    }

    section.reward{
        margin:0;
      }
      
      section.reward > h2{
          color:#8d2424;
          text-align: center;
          font-weight: 800;
          font-family: sans-serif;
          font-size: 18px;
      }


      section.reward > div.container{

        flex-direction: column;
        margin:2%;
        font-family: sans-serif;
    }

    section.faq{
        padding:10% 0;
        font-size:16px;
        }
        section.faq > div{
            font-size:16px;
            } 
        section.faq > div >h3{
            font-size: 16px;
        }
        section.faq > div >h4{
            font-size: 12px;
        }
}